.navContainer {
    height: 78px;
}

nav {
    margin: 0 auto;
    padding: 0 12px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0;
    background-color: var(--bg);
    z-index: 30;
    border-bottom: solid 1px var(--border);
}

header {
    display: grid;
    grid-template-rows: repeat(11, 26px);
    background-color: var(--bg);
    background-size: 26px 26px;
    background-image: repeating-linear-gradient(0deg, var(--text-muted), var(--text-muted) 1px, var(--text) 1px, var(--text));
    margin-bottom: 12px;
}

header .s1 {
    grid-row: 4 span;
}

header .s2 {
    grid-row: 4 span;
}

header .s3 {
    grid-row: 3 span;
}

header h1,
header strong {
    font-size: 3.8rem;
    text-align: start;
    margin: auto;
}

header strong {
    color: var(--bg-light);
    position: relative;
    z-index: 1;
    display: inline-block;
}

header strong::before {
    padding: 0 8px;
    content: '';
    transform: rotate(4deg);
    position: absolute;
    top: 0;
    left: -8px;
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .6;
}

header span {
    text-align: center;
    margin: 0 18px;
    color: var(--bg-light);
    line-height: 26px;
}

header button {
    height: fit-content;
    padding: 12px 24px;
    margin: auto;
    background-color: var(--bg-dark);
    font-weight: bold;
}

img {
    width: 100%;
    border-radius: 24px;
    border: solid 1px var(--border);
    background-color: var(--bg-light);
}

footer {
    border-top: solid 1px var(--border);
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-6);
}

.cardContainer .card {
    width: 100%;
}


@media (min-width: 768px) {
    section {
        padding: 0 42px;
    }

    #headerSection {
        grid-template-columns: repeat(9, 1fr);
    }

    #headerSection .s2 {
        grid-row: 3 span;
    }

    #headerSection header h1 {
        text-align: start;
    }

    #mainSection .card {
        width: calc(50% - var(--spacing-3));
    }
}

@media (min-width: 960px) {}